body {
    position: relative;
}

#form-wrapper {
    width: 500px;
    /* Set this to your convenience */
    height: 200px;
    /* Set this to your convenience */
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    /* Half of height */
    margin-left: -250px;
    /* Half of width */
}

.scrolling-element {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}