<mat-card>
    <mat-card-content>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="{{'New Password' | translate}}" name="newPassword" [(ngModel)]="form.newPassword" required minlength="6" #newPassword="ngModel" />
                <mat-error>
                    {{'errorPassword' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="{{'Confirm New Password' | translate}}" name="confirmNewPassword" [(ngModel)]="form.confirmNewPassword" required confirmNewPassword pattern="{{ newPassword.value }}" #confirmNewPassword="ngModel" />
                <mat-error>
                    {{'errorConfirmPassword' | translate}}
                </mat-error>
            </mat-form-field>
            <div class="form-group">
                <button mat-raised-button color="primary">{{'Confirm' | translate}}</button>
            </div>

            <div class="alert alert-danger" *ngIf="f.submitted && isFailed">
                Something went wrong!<br />{{ errorMessage }}
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            {{'successMessage' | translate}}
        </div>
    </mat-card-content>
</mat-card>
