<div>
    <div id="form-wrapper">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" name="newPassword"
                    [(ngModel)]="form.newPassword" required minlength="6" #newPassword="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && newPassword.invalid">
                    <div *ngIf="newPassword.errors.required">Password is required</div>
                    <div *ngIf="newPassword.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm New Password" name="confirmNewPassword"
                    [(ngModel)]="form.confirmNewPassword" required confirmNewPassword pattern="{{ newPassword.value }}"
                    #confirmNewPassword="ngModel" />
                <div class="alert-danger-danger" *ngIf="f.submitted && confirmNewPassword.invalid">
                    <div *ngIf="confirmNewPassword.errors.required">Password confirmation is required</div>
                    <div *ngIf="confirmNewPassword.errors.pattern">
                        Passwords are not the same!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Confirm</button>
            </div>

            <div class="alert alert-danger" *ngIf="f.submitted && isFailed">
                Something went wrong!<br />{{ errorMessage }}
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            Your password has been changed!
        </div>
    </div>
</div>