mat-list,
mat-card {
    max-width: 600px;
    margin: 20px auto;
}

:host /deep/ .mat-card-header-text {
    margin: 0;
}

.buttons button {
    padding: 8px;
    border: none;
    background-color: lightgrey;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    text-align: center;
}

.btn-space {
    margin-right: 5px;
    margin-bottom: 5px;
}

.profile-img-card {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    display: block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}