mat-list,
mat-card {
    max-width: 600px;
    margin: 0 auto;
}

.buttonRoles {
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 20%;
}

.buttonCard {
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 70%;
}

.buttonDelete {
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 45%;
}

.profile-img-card {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    display: block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}