mat-list,
mat-card {
    max-width: 600px;
    margin: 0 auto;
}

:host /deep/ .mat-card-header-text {
    margin: 0;
}

.buttonRoles {
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 22%;
}

.buttonCard {
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 82%;
}

.buttonDelete {
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 52%;
}

.profile-img-card {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    display: block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.scrolling-element {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}