mat-list,
mat-card {
    max-width: 600px;
    margin: 0 auto;
}

:host /deep/ .mat-card-header-text {
    margin: 0;
}

.buttonDelete {
    margin: -10px -50px;
    position: relative;
    top: 50%;
    left: 50%;
}


/* .buttonAssign {
    margin: -10px -50px;
    position: relative;
    top: 50%;
    left: 60%;
} */

.profile-img-card {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}