mat-form-field {
    display: block;
}

mat-dialog-content {
    max-width: 600px;
    padding: 40px 40px;
    margin: 2em auto;
}

.scrolling-element {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}