<mat-tab-group>
    <mat-tab label="{{'Developer' | translate}} 1" class="tab">
        <mat-card class="home-card">
            <mat-card-content class="home-card-content">
                <img mat-card-image src="assets/majkel.jpg">
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="{{'Developer' | translate}} 2" class="tab">
        <mat-card class="home-card">
            <mat-card-content class="home-card-content">
                <img mat-card-image src="assets/luki.jpg">
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>
