<body>
  <div id="form-wrapper">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="code">Enter the code</label>
        <input type="text" placeholder="Code" class="form-control" name="code" [(ngModel)]="form.code" required
          #code="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && code.invalid">
          Code is invalid!
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Confirm
        </button>
      </div>
      <div class="alert alert-success" *ngIf="f.submitted && isSuccessful">
        {{ successMessage }}
      </div>
      <div class="alert alert-danger" *ngIf="f.submitted && isCodeInvalid">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</body>