<body>
  <div id="form-wrapper">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Enter your username</label>
        <input type="text" placeholder="Username" class="form-control" name="username" [(ngModel)]="form.username"
          required #username="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Send
        </button>
      </div>
      <div class="alert alert-danger" *ngIf="f.submitted && isFailed">
        Something went worng!<br />{{ errorMessage }}
      </div>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your request has been sent!
      </div>
    </form>
  </div>
</body>