<mat-card>
    <mat-card-content>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <mat-card-header>
                <img mat-card-avatar id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
            </mat-card-header>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="{{'Username' | translate }}" [(ngModel)]="form.username" name="username" required #username="ngModel">
                <mat-error>
                    {{'errorResetPassword' | translate}}
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">{{'Reset Password' | translate}}</button>
            <div *ngIf="!f.form.valid"></div>
        </form>
    </mat-card-content>
</mat-card>