<div *ngIf="showApp">
    <mat-sidenav-container [ngStyle]="{background: 'url(https://steamuserimages-a.akamaihd.net/ugc/915792633192065337/AA45141969D321AF88400C6C3778D1DF3E315638/)'}">
        <mat-sidenav #sidenav mode="push">
            <div class="branding"><img [src]="logo" [alt]="logo" />
                <span>{{'Abbr' | translate }}</span></div>
            <mat-nav-list>

                <ng-container>
                    <a mat-list-item *ngIf="isLoggedIn" (click)="sidenav.close()" routerLink="listofusers" routerLinkActive="active">
            {{'Users' | translate}}
          </a>
                    <a mat-list-item *ngIf="isLoggedIn" (click)="sidenav.close()" routerLink="cars" routerLinkActive="active">
            {{'Cars' | translate}}
          </a>
                    <a mat-list-item *ngIf="isLoggedIn" (click)="sidenav.close()" routerLink="carlogs" routerLinkActive="active">
            {{'Car Logs' | translate}}
          </a>
                </ng-container>

                <a mat-list-item href="https://github.com/luki530/Car-Fleet-Management-System-FRONTEND" target="_blank" rel="noopener noreferrer">
          Github
        </a>

            </mat-nav-list>
        </mat-sidenav>

        <div class="wrapper">

            <div class="toolbar">
                <mat-toolbar color="primary">
                    <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>

          </button>

                    <span routerLink="" class="branding spacer center d-inline d-sm-none">
            <img [src]="logo" [alt]="logo" /></span>
                    <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo"
              [alt]="logo" />{{'Abbr' | translate }}</span>
                    <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo"
              [alt]="logo" />{{'Title' | translate}}</span>

                    <span class="d-none d-md-inline">
            <ng-container>
              <button mat-button class="nav-button" *ngIf="isLoggedIn" routerLink="listofusers"
                routerLinkActive="active">
                {{'Users' | translate}}
              </button>
              <button mat-button class="nav-button" *ngIf="isLoggedIn" routerLink="cars" routerLinkActive="active">
                {{'Cars' | translate}}
              </button>
              <button mat-button class="nav-button" *ngIf="isLoggedIn" routerLink="carlogs" routerLinkActive="active">
                {{'Car Logs' | translate}}
              </button>
            </ng-container>

          </span>

                    <button mat-button mat-stroked-button color="accent" *ngIf="!isLoggedIn" routerLink="login">
            {{'Login' | translate }}
          </button>
                    <button mat-button mat-stroked-button color="accent" *ngIf="!isLoggedIn" routerLink="register">
            {{'Register' | translate }}
          </button>

                    <mat-select [value]="translate.currentLang" placeholder="EN" #selectedLang (selectionChange)="switchLang(selectedLang.value)">
                        <mat-option *ngFor="let language of translate.getLangs()" [value]="language">
                            {{ language.toUpperCase() }}
                        </mat-option>
                    </mat-select>

                    <mat-icon class="icon" [matMenuTriggerFor]="menu">
                        palette
                    </mat-icon>
                    <mat-menu #menu="matMenu">
                        <button *ngFor="let option of options" mat-menu-item (click)="changeTheme(option.value)">
              <mat-icon role="img" svgicon="theme-example" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                  height="100%" viewBox="0 0 80 80" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <defs>
                    <path
                      d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                      id="a">
                    </path>
                    <path
                      d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                      id="b">
                    </path>
                    <path d="M0 0h80v17.24H0V0z" id="c"></path>
                  </defs>
                  <use xlink:href="#a" [attr.fill]="option.backgroundColor"></use>
                  <use xlink:href="#b" [attr.fill]="option.buttonColor"></use>
                  <use xlink:href="#c" [attr.fill]="option.headingColor"></use>
                </svg>
              </mat-icon>
              <span>{{ option.label }}</span>
            </button>
                    </mat-menu>

                    <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
            <mat-icon>person</mat-icon>
          </button>
                    <mat-menu #toolbarUserMenu="matMenu">
                        <button mat-menu-item routerLink="profile">
              <mat-icon>person</mat-icon>
              <span>{{'My Profile' | translate }}</span>
            </button>
                        <button mat-menu-item (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>{{'Logout' | translate }}</span>
            </button>
                    </mat-menu>

                    <a mat-icon-button class="link d-none d-sm-inline" href="https://github.com/luki530/Car-Fleet-Management-System-FRONTEND" target="_blank" rel="noopener noreferrer">
                        <mat-icon>code</mat-icon>
                    </a>
                </mat-toolbar>
            </div>
            <div class="content">
                <router-outlet (activate)="reloadContext()"></router-outlet>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="col-sm-12 links">
                        <a target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faInfo" routerLink="about"></fa-icon>
                            <span routerLink="about">{{'About Us' | translate }}</span>
                        </a>
                        <a target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faBell" routerLink="contact"></fa-icon>
                            <span routerLink="contact">{{'Contact' | translate }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-container>
</div>