<mat-card>
    <mat-card-content>
        <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="{{'Serial Number' | translate}}" [(ngModel)]="form.serialNumber" name="serialNumber" required #serialNumber="ngModel">
                <mat-error>
                    {{'errorSerialNumber' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="{{'Sim Card Number' | translate}}" [(ngModel)]="form.simCardNumber" name="simCardNumber" required #simCardNumber="ngModel">
                <mat-error>
                    {{'errorSimCardNumber' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-dialog-actions>
                <button mat-stroked-button mat-dialog-close>{{'Cancel' | translate}}</button>
                <button mat-raised-button>{{'Add' | translate}}</button>
            </mat-dialog-actions>
        </form>
    </mat-card-content>
</mat-card>