<mat-card>
    <mat-card-header>
        <img mat-card-avatar id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    </mat-card-header>
    <mat-list class>
        <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line> <span>Name: </span> {{name}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>perm_identity</mat-icon>
            <div mat-line> <span>Username: </span> {{username}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>phone_android</mat-icon>
            <div mat-line> <span>PhoneNumber: </span> {{phoneNumber}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>alternate_email</mat-icon>
            <div mat-line> <span>Email: </span> {{email}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>supervisor_account</mat-icon>

            <div mat-line *matCellDef="let row">
                <span>Roles: </span>
                <ng-template *ngFor="let role of roles">{{role}}</ng-template>
            </div>
        </mat-list-item>
    </mat-list>
</mat-card>