<mat-card>
    <mat-card-header>
        <img mat-card-avatar id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    </mat-card-header>
    <mat-list class>
        <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>Name: {{name}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>perm_identity</mat-icon>
            <div mat-line> Username: {{username}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>phone_android</mat-icon>
            <div mat-line> PhoneNumber: {{phoneNumber}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>alternate_email</mat-icon>
            <div mat-line> Email: {{email}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <div>
                <span> &nbsp;&nbsp;&nbsp; Roles: &nbsp; </span>
            </div>
            <div *ngFor="let role of roles"> {{role.name.substring(5)}} &nbsp; </div>
        </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary">Delete Account</button>
</mat-card>