<mat-sidenav-container>
    <div class="footer">
        <div class="row">
            <div class="col-sm-12 links">
                <a href="https://www.github.com/tomastrajan" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="['fab','github']"></fa-icon>
                    <span>About</span>
                </a>
                <a href="https://www.medium.com/@tomastrajan" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="faBell"></fa-icon>
                    <span>Contact</span>
                </a>
            </div>
        </div>
    </div>
</mat-sidenav-container>